// BASE
@import "./base/reset.scss";
@import "./base/tipografia.scss";

// UTILIDADES
@import "./utilidades/mixins.scss";

// COMPONENTES
@import "./componentes/header.scss";
@import "./componentes/footer.scss";
@import "./componentes/home.scss";
@import "./componentes/cajas.scss";
@import "./componentes/nuestroproyecto.scss";
@import "./componentes/atencion.scss";
@import "./componentes/quinessomos.scss";
