// BASE
@import "./partials/base/reset.scss";
@import "./partials/base/tipografia.scss";

// UTILIDADES
@import "./partials/utilidades/mixins.scss";
@import "./partials/utilidades/variables.scss";

// COMPONENTES
@import "./partials/componentes/general.scss";
@import "./partials/componentes/header.scss";
@import "./partials/componentes/footer.scss";
@import "./partials/componentes/home.scss";
@import "./partials/componentes/cajas.scss";
@import "./partials/componentes/nuestroproyecto.scss";
@import "./partials/componentes/atencion.scss";
@import "./partials/componentes/quinessomos.scss";

// COMANDOS GENERALES
main {
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: rgb(85, 182, 85);
}

// h1 {
//     @include h1
// }

// ;

// h2 {
//     @include h2
// }

// ;

// .parrafos {
//     @include parrafos
// }
// ;