// BASE
@import "./base/reset.scss";
@import "./base/tipografia.scss";

// UTILIDADES
@import "./utilidades/mixins.scss";

// COMPONENTES
@import "./componentes/header.scss";
@import "./componentes/footer.scss";
@import "./componentes/home.scss";
@import "./componentes/cajas.scss";
@import "./componentes/nuestroproyecto.scss";
@import "./componentes/atencion.scss";
@import "./componentes/quinessomos.scss";

// COMANDOS GENERALES
main {background-color: rgb(85, 182, 85); }
h1 {@include h1};
h2 {@include h2};
.parrafos {@include parrafos};

