$main-color: rgb(85, 182, 85);

$header-color: lightgreen;
$a-color: rgb(158, 48, 48);
$footer-color: green;
$bottom-detalle:rgb(160, 93, 73);
$bottom-pregfrec: white;
$borderleft: white;
$borderliheader: rgb(145, 35, 35);
