//  Varibles: main, header footer, "detalle" de cajas y borde de formas de envío.

$header-color: lightgreen;
$footer-color: green;
$bottom-detalle:rgb(160, 93, 73);
$bottom-pregfrec: white;
$borderleft: white;

