@use "../utilidades/mixins.scss";
@use "../utilidades/variables.scss";
@use "./botones.scss";

main {

    ul li {
        list-style-type: none;
    }

    .card-countainer-ubicacion {
        margin: 5px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .divat {
            padding: 30px;
            align-items: center;
            display: flex;
        }

    }

    .preguntas-frecuentes-countainer {
        display: flex;
        flex-direction: column;
        padding: 5px;

        .boton-pregs {
            font-size: 20px;
            text-decoration: underline;
            margin: 0px 20px 0px 20px;
            padding: 3px;
            background-color: transparent;
            border: none;
        }

        .boton-pregs:hover {
            color: variables.$bottom-pregfrec;
        }

        .respuestas {
            margin: 0px 30px;
            color: black;
            font-size: 15px;
            background-color: transparent;
            border: none;
        }
    }

    .hs-container {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;

        .hs-div {
            padding: 20px;
            @include flex (row, space-between, start);

            .im-cliente {
                height: 120px;
            }

            .im-cliente:hover {
                @include animation-images
            }
        }
    }

    .formsend-container {
        margin: 28px;
        display: flex;
        flex-direction: row;

        .formsend {
            width: 35%;
            padding: 20px;
            @include flex (row, space-evenly, center);
            border-left: 2px solid variables.$borderleft;

            .im-at {
                width: 60px;
            }

            .im-at:hover {
                @include animation-images
            }
        }


    }

    form {
        max-width: 800px;
        margin: 0px auto;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        @include flex(column, center, center);
        gap: 15px;

        .campo {
            width: 100%;
            @include flex(row, space-between, center);

            label {
                font-weight: 600;
                margin-bottom: 6px;
            }

            input,
            textarea {
                padding: 10px;
                border-radius: 6px;
                border: 1px solid #ccc;
                font-size: 14px;
                width: 30%;
            }

        }

        .botonform {
            grid-column: span 2;
            padding: 12px;
            border: none;
            border-radius: 8px;
            background: #2e7d32;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .botonform:hover {
            background: #256528;
        }
    }

    @media (max-width:500px) {
        .card-countainer-ubicacion {
            display: flex;
            flex-direction: column;
            margin: 15px;

            .ubi-link {
                width: 200px;
            }
        }

        .boton-pregs {
            text-align: left;
        }

        .formsend-container {
            margin: 5px;
            flex-direction: column;

            .formsend {
                margin: 5px;
            }
        }

        form {
            flex-direction: column;
            width: 80%;
        }
    }
}