@use "../utilidades/mixins.scss";
@use "../utilidades/variables.scss";

main {
    padding: 50px 0px;
    background-color: variables.$main-color;
 }

h1 {
    @include h1;
}

h2 {
    @include h2;
}

.parrafos {
    @include parrafos;
}
