@use "../utilidades/variables.scss";

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: variables.$header-color;

    #im-header {
        padding: 5px;

        .galponlogo {
            width: 90px;
        }
    }

    #id-celu {
        display: none;
        padding: 5px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        ul {
            margin: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 16px;

            li {
                list-style-type: none;
            }

            a:hover {
                color: variables.$a-color;
            }
        }
    }

    #collapseExample {
        background-color: variables.$header-color;
        width: 100%;
        border: none;

        #sub-collapse {
            background-color: variables.$header-color;
            border: none;

            #ul-li-celu {
                text-align: center;
            }
        }
    }

    @media (max-width:500px) {
        ul li {
            list-style-type: none;

            a:hover {
                color: variables.$a-color;
            }
        }

        #id-celu {
            display: block;
            margin: 10px 10px 0px 10px;
        }

        #nav-compu {
            display: none;
        }

        header {
            padding: 0px;
        }

        .formsend-container {
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .formsend {
            margin: 15px;
            display: flex;
            flex-direction: column;
        }

        .ubi-link {
            width: 200px;
        }

    }
}