@use "../utilidades/variables.scss";
@use "../utilidades/extend.scss";
@use "../utilidades/mixins.scss";

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: variables.$header-color;

    .im-header {
        padding: 5px;

        .galponlogo {
            width: 90px;
        }
    }

    .id-celu {
        display: none;
        padding: 5px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        ul {
            margin: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 16px;

            li {
                list-style-type: none;
                @extend %boton;
                padding: 10px !important;
                background-color: antiquewhite;
            }

            li:hover {
                background-color: rgb(250, 239, 227);
                @include animation-buttons;
            }

            a {
                text-decoration: none;
                color: black
            }
        }
    }

    #collapseExample {
        background-color: variables.$header-color;
        width: 100%;
        border: none;

        #sub-collapse {
            background-color: variables.$header-color;
            border: none;

            .ul-li-celu {
                text-align: center;
            }
        }
    }

    @media (max-width:500px) {
        padding: 0px;

        div {
            padding: 0px !important;
        }

        ul {
            padding: 0px;
            margin: 0px;

            li:first-child {
                border-top: 1px solid variables.$borderliheader;
            }

            li {
                list-style-type: none;
                border-bottom: 1px solid variables.$borderliheader;
                padding: 5px 0px;

                a {
                    color: black;
                    text-decoration: none;
                }

                a:hover {
                    color: variables.$a-color;
                }
            }
        }

        .id-celu {
            display: flex;
            align-items: center;

            a img {
                width: 50px;
            }
        }

        .nav-compu {
            display: none;
        }



        .formsend-container {
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .formsend {
            margin: 15px;
            display: flex;
            flex-direction: column;
        }

        .ubi-link {
            width: 200px;
        }

    }
}