@use "../utilidades/mixins.scss";


main {

    .eslogan {
        font-family: "Dancing Script", cursive;
        font-size: 25px;
        text-align: center;
    }

    .img-home {
        display: flex;

        #galponlogo {
            width: 200px;
            padding: auto;
            margin: auto;
            align-items: auto;
        }
        img:hover {@include animation-images;}
    }

    .home-container {
        margin: 28px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .div-tildes {
            padding: 20px;
            display: flex;

            .im-tildes {
                height: 50px
            }
        }

        ul li {
            list-style-type: none;
        }
    }
}