@use "../utilidades/mixins.scss";

main {

    .parrafos {
        margin: 50px;
        font-size: 25px;
        text-align: justify;
        font-family: "Roboto", sans-serif;
    }

    .card-countainer-nues-proyecto {
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        width: 80%;


        div {
            @include flex(row, center, center);
            background-color: rgb(65, 150, 65);
            height: 400px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.24);

            img {
                width: 20%;
                margin: 50px;
            }
        }

        img:hover {
            @include animation-images;
        }

        @media (max-width:500px) {
            div {
                padding: 30px;
                height: 700px;
                flex-direction: column;

                img {
                    width: 70%;
                }

                .parrafos {
                    margin: 15px;
                    font-size: 15px;
                }
            }
        }
    }


}