@use "../utilidades/mixins.scss";

.sec-quienessomos {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "h1 h1"
        "img-familia parrafo1"
        "img-galpon parrafo2"
    ;
    place-items: center;

    .h1-quienessomos {
        grid-area: h1;
    }

    .img-familia-quienessomos {
        grid-area: img-familia;
    }

    .img-galpon-quienessomos {
        grid-area: img-galpon;
    }

    p {
        margin: 15px;
        align-items: center;
    }

    .p-quienessomos1 {
        grid-area: parrafo1;
    }

    .p-quienessomos2 {
        grid-area: parrafo2;
    }

    img {
        width: 100%;
    }
}

.sec-nuestramision {
    margin: 30px 200px;
    @include flex (column, start, center);
    flex-wrap: wrap;
    gap: 80px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        align-items: center;
        padding: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.24);
        background-color: rgb(65, 150, 65);
    }

    .valores {
        img {
            margin: 100px;
            justify-self: center;
            width: 120px;
            place-self: center;
        }

        img:hover {
            @include animation-images
        }

        .lista-valores {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 40px;
            text-align: center;
            list-style-position: inside;
            padding: 0;
        }
    }
}

@media (max-width:500px) {
    .sec-quienessomos {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1.5fr 1fr 1.5fr;
        grid-template-areas: "h1"
            "parrafo1"
            "img-familia"
            "parrafo2"
            "img-galpon";

        p {
            font-size: 18px;
        }
    }

    .sec-nuestramision {
        margin: 8px;
        text-align: center;
    }

    .lista-valores {
        grid-template-columns: 1fr;
    }
}