@use "../utilidades/mixins.scss";

main {

    ul li {
        list-style-type: none;
    }

    .card-countainer-ubicacion {
        margin: 5px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .divat {
            padding: 30px;
            align-items: center;
            display: flex;
        }

    }

    .preguntas-frecuentes-countainer {
        display: flex;
        flex-direction: column;
        padding: 5px;

        .boton-pregs {
            font-size: 20px;
            text-decoration: underline;
            margin: 0px 20px 0px 20px;
            padding: 3px;
            background-color: transparent;
            border: none;
        }

        .boton-pregs:hover {
            color: rgb(255, 255, 255);
        }

        .respuestas {
            margin: 0px 30px;
            color: black;
            font-size: 15px;
            background-color: transparent;
            border: none;
        }
    }

    .hs-container {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;

        .hs-div {
            padding: 20px;
            @include flex (row, space-between, start);

            // PONER EN MEDIAQUERIS (flex-wrap: wrap; y arreglar el padding)

            .im-cliente {
                height: 120px;
            }

            .im-cliente:hover {
                @include animation-images
            }
        }
    }

    .formsend-container {
        margin: 28px;
        display: flex;
        flex-direction: row;

        .formsend {
            width: 35%;
            padding: 20px;
            @include flex (row, space-evenly, center);
            border-left: 2px solid rgb(255, 255, 255);

            .im-at {
                width: 60px;
            }

            .im-at:hover {
                @include animation-images
            }
        }


    }

    form {
        margin: auto;
        display: flex;
        margin: 30px;
    }

    @media (max-width:500px) {
        .card-countainer-ubicacion {
            margin: 15px;

            .ubi-link {
                width: 200px;
            }
        }

        .boton-pregs {
            text-align: left;
        }

        .formsend-container {
            margin: 5px;
            flex-direction: column;

            .formsend {
                margin: 5px;
            }
        }

        form {
            flex-direction: column;
        }
    }
}