@use "../utilidades/mixins.scss";
@use "../utilidades/variables.scss";

main {

    .boxes {
        margin: 28px;
        @include flex (row, center, start);
        flex-wrap: wrap;
        gap: 80px;

        .typebox {
            width: 300px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border: 1px solid black;
            gap: 15px;

            .box-productos {
                width: auto;
                background-color: transparent;
                border: none;
                
                ul li { list-style-type: decimal;}
            }

            .boton-detalle {
                padding: 3px;
                background-color: variables.$bottom-detalle ;
                border: 1px solid black;
            }

            .imgboxes {
                display: flex;
                flex-direction: column;
                flex-direction: center;
                justify-content: center;
            }

            img:hover {
                @include animation-images;
            }

            .prices {
                display: inline-block;
                margin: 10px;
                padding: 3px;
                border: 1px solid black;
            }

            h3 {
                font-weight: normal;
            }
        }

    }
}