@use "../utilidades/mixins.scss";

main {

    .boxes {
        margin: 28px;
        @include flex (row, center, start);
        flex-wrap: wrap;
        gap: 80px;

        .typebox {
            width: 300px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border: 1px solid black;
            gap: 15px;
            ul li {
                list-style-type: none;
            }

            .imgboxes {
                display: flex;
                flex-direction: column;
                flex-direction: center;
                justify-content: center;
            }

            .prices {
                display: inline-block;
                margin: 10px;
                padding: 3px;
                border: 1px groove black;
            }

            h3 {
                font-weight: normal;
                text-decoration: underline;
            }
        }

    }
}