@use "../utilidades/variables.scss";

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: variables.$footer-color;
    padding: 6px;

    .imgfooter {
        width: 50px;
        height: 50px;
    }
    li {display: inline-block;
    justify-content: space-around;
    padding: 20px;}
}