@use "../utilidades/mixins.scss";

main {
    background-color: rgb(44, 165, 44);

    h1 {
        // font-family: "Dancing Script", cursive;
        font-size: 50px;
        margin: 10px;
        text-align: center;
        padding: 30px;
    }

    .eslogan {
        font-family: "Dancing Script", cursive;
        font-size: 25px;
        text-align: center;
    }

    .img-home {
        display: flex;

        #galponlogo {
            width: 200px;
            padding: auto;
            margin: auto;
            align-items: auto;
        }
    }

    .home-container {
        margin: 28px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .div-tildes {
            padding: 20px;
            display: flex;

            .im-tildes {
                height: 50px
            }
        }
        ul li {list-style-type: none;}
    }
}