@use "../utilidades/mixins.scss";

main {

    .parrafos {
        margin: 50px;
        font-size: 25px;
        text-align: justify;
        font-family: "Roboto", sans-serif;
    }

    .card-countainer-nues-proyecto {
        margin: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .countainer-nues-proyecto {
            padding: 5px;
            // display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            @include flex (row, center, start);
            .img-vertical {
                height: 130px;
            }
        }

        .countainer-nues-proyecto2 {
            padding: 5px;
            // display: flex;
            // flex-direction: row-reverse;
            // justify-content: space-between;
            @include flex (row-reverse, center, start); 
            .img-horizontal {
                height: 120px;
            }
        }
            img:hover {@include animation-images;}
    }
}