/* fuente roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*  font-family: "Roboto", sans-serif; */

/* fuente dancing script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* font-family: "Dancing Script", cursive; */

body {
    /* propiedad:valor */
    color: black;
    font-family: "Roboto", sans-serif;
    background-color: rgb(85, 182, 85);
}

/* generales */
header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: lightgreen
}

#im-header {
    padding: 5px;
}

#collapseExample {
    background-color: lightgreen;
    width: 100%;
    border: none;
}

#sub-collapse {
    background-color: lightgreen;
    border: none;
}

.imgfooter {
    width: 50px;
    height: 50px;
}

#ul-li-celu {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: green;
    padding: 6px;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    margin: 10px;
    text-align: center;
    padding: 30px;
}

h2 {
    margin: 20px;
    font-size: 28px;
    height: 60px;
}

.parrafos {
    margin: 50px;
    font-size: 25px;
    text-align: justify;
}

.eslogan {
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    text-align: center;
}

/* rutas y footer */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.galponlogo {
    width: 90px;
}

#galponlogo {
    width: 200px;
    padding: auto;
    margin: auto;
    align-items: auto;
}

nav ul li {
    list-style-type: none;
}

.li-footer {
    display: inline-block;
    justify-content: space-around;
    padding: 20px;
}

/* home */
.home-container {
    margin: 28px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-home {
    display: flex;
}

.div-tildes {
    padding: 20px;
    display: flex;
}

.im-tildes {
    height: 50px
}


/* cajas */
.imgboxes {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    justify-content: center;
}

.boxes {
    margin: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.typebox {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    gap: 15px;
}

.prices {
    display: inline-block;
    margin: 10px;
    padding: 3px;
    border: 1px solid black;
}

h3 {
    font-weight: normal;
    text-decoration: underline;
}

.li-pregfrec {
    display: flex;
    flex-direction: column-reverse;
}

ul li {
    list-style-type: none;
}

form {
    margin: 30px;
}

/* atencion al cliente */
.im-cliente {
    height: 120px;
}

.im-at {
    height: 60px;
}

.card-countainer-horarios {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divat {
    padding: 30px;
    align-items: center;
    display: flex;
}

.hs-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.atencion-div {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.formsend-container {
    margin: 28px;
    display: flex;
    justify-content: center;
}

.formsend {
    width: 28%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 2px solid rgb(255, 255, 255);
    flex-wrap: wrap;
}



#id-celu {
    display: none;
    padding: 5px;
}


@media (max-width:500px) {
    #id-celu {
        display: block;
        margin: 10px 10px 0px 10px;
    }

    #nav-compu {
        display: none;
    }

    header {
        padding: 0px;
    }

    .formsend-container {
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formsend {
        margin: 15px;
        display: flex;
        flex-direction: column;
    }

    .ubi-link {
        width: 200px;
    }
}

/* nuestro proyecto */

.img-vertical {
    height: 130px;
}

.img-horizontal {
    height: 120px;
}

.card-countainer-nues-proyecto {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.countainer-nues-proyecto {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.countainer-nues-proyecto2 {
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}