//  Varibles: main, header footer, "detalle" de cajas y borde de formas de envío.
$main-color: rgb(85, 182, 85);
$header-color: lightgreen;
$footer-color: green;
$bottom-detalle:rgb(160, 93, 73);
$bottom-pregfrec: white;
$borderleft: white;

$main-padding: 0px 50px;